button{
    border:  none;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #034881;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 12px;
    overflow: hidden;
    transition:  0.2s;
    background: none;
    border-radius: 20px;
    font-weight: 900;
}

button:hover{
    color: #ffffff;
    background: #93b9ff;
    box-shadow: 0 0 10px #93b9ff, 0 0 40px #93b9ff, 0 0 10px #93b9ff;
    cursor: pointer;
    transition-delay: 0.1s;
}

button span{
    position: absolute;
    display: block;
}

button span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#2ecc71);
}


button:hover span:nth-child(1){
    left: 100%;
     transition: 1s;
}


button span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#2ecc71);
}

button:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
}


button span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent,#2ecc71);
}

button:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
}


button span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent,#2ecc71);
}

button:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
  
}

