body{
    font-family: sans-serif;
    background-color: #191919;
}

.linkDecoration{
    text-decoration: none!important;
}

img.foto {
    display: inline-block;
    width: 275px;
    height: 300px;
    text-align: center;
    font-weight: bold;
    margin: 30px 10px 10px 30px;
    padding: 10px;
    color: white;
    border-radius: 5%;
    object-fit: cover;
    
}

.foto:hover{
    width: 330px;
    height: 350px;
    transition: 0.25s;
    text-align: center;
}

.textAlignLista{
   margin-left: 30px;
   color: blue;
   
}

.textAlignLista:hover{
    margin-left: 30px;
    color: rgb(0, 110, 255);
    
 }

div.row{
    justify-content: center;
    padding: 30px;
    text-align: center ;
} 

.añadirLista{
    margin-left: 20em;
}

.formulario{
    width: 40%;
    height: 100%;
}

.labelFormulario{
    text-align: left;
}

.labelFormularioInfo{
    text-align: justify;
}

.buttonFormularioInfo{
    justify-content: right;
}

h5 {
    color: black;
}

.imgForm{
    display: inline-block;
    width: 155px;
    height: 150px;
    text-align: center;
    font-weight: bold;
    margin: 30px 10px 10px 0px;
    color: white;
}

.serviciosPrincipal{
   width: 500px;
   height: 500px; 
}

.listaPrincipal{
    width: 15px;
    height: 15px;
    float: left;
}

.ventajasPrincipal{
    width: 150px;
    height: 150px;
}

.ventajasDescripcionPrincipal{
    text-align: center;
}

.breadcrumbsPrincipal{
    background-color: aqua;
    lighting-color: aqua;
    
}

.textAlignCenter{
    text-align: center;
}

.appPrincipal{
    width: 500px;
    height: 250px;

}

.appPrincipal:hover{
    justify-content: center;
    padding: 30px;
}

.footer {

    left: 0;
    bottom: 100;
    width: 100%;
    color: white;
    background-color: black;
    align-self: flex-end;
  }

  .imtFooter{
      height: 20px;
      width: 20px;
      margin-bottom: 0.2em;
  }

  .hrFooter{
      background-color: white;
  }

  .copyRightFooter{
    text-align: center;
  }


  .colorTextFooter{
      text-decoration: none!important;
      color: white!important;
  }

  .colorTextFooter:hover{
      color: #0063CD!important;
  }
 
  .imgUser{
    display: inline-block;
    width: 275px;
    height: 300px;
    font-weight: bold;
    color: white;
    border-radius: 5%;
}
.link{
    color: white;
}

img.promo {
    display: inline-block;
    width: 370px;
    height: 310px;
    text-align: center;
    font-weight: bold;
    margin: 30px 10px 10px 30px;
    padding: 10px;
    color: white;
    border-radius: 5%;
}
.promo:hover{
    width: 420px;
    height: 360px;
    transition: 0.25s;
}
.logoHeader{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.botonInfo{
    text-decoration: none!important;
    color: white!important;
}

.barraNavegacionPrincipal {
    text-decoration: none!important;
    color: black!important;
}

.barraNavegacionPrincipal:hover {
    color: #0063CD!important;
}

.gratisPrincipal{
    color: #90ff94;
}

.modal-dialog{
  
    width:0px;
  
    }