
.clubComponentId{
    

}
.clubComponentId:hover{
    cursor: pointer;
    filter: opacity(.5);
    transition: all .5s ease;

}

.textAlignCenter{
    text-align: center;
}

.margen{
    margin-bottom: 10em;
}