@import '../../styles/base/settings';

.journal_menu{

    background-color: $dark-grey;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    width: 400px;
    border-radius: 20px;
}
.journal_navbar{
    display: flex;
    justify-content: space-between;

}
.journal_navbar h3{
    font-weight: lighter;
}
.journal__elemento__menu{
    cursor: pointer;
    background-color: white;
    border-radius: 4px;
    color: black;
    display: flex;
    margin-bottom: 10px;
    overflow: hidden;
    transition: all .5s ease;
    
   
}
.journal__elemento__menu:hover{
    color: white;
    background-color: blue;
    
}