

/* Caja del formulario */

.login-bx{
    width: 360px;
    background: #f1f1f1;
    height: 500px;
    padding: 80px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 20px;
}

.login-bx h1{
    text-align: center;
    margin-bottom: 10px;
}

.bximg{
    height: 100px;
    width: 100px;
    margin-left: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bximg img{
    width: 100%;
    height: auto;
  }


.txtb{
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 10px 0;
}

.txtb input{
    font-size: 15px;
    color: #333;
    border: none;
    width:  100%;
    outline: none;
    background: none;
    padding: 0 5px; 
    height:  40px;
    margin-bottom:5px ;
}

.txtb span::before{
    content:  attr(placeholder);
    position: absolute;
    top: 45%;
    left: 5px;
    color: #adadad;
    transform: translateY(-5%);
    z-index: -1;
    transition: .5s;
}

.txtb span::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0%;
    left: 0%;
    background: linear-gradient(120deg, #3498db, #8e44ad);
    transition: .5s;
}

.focus + span::before{
    top: -5px;
}

.focus + span::after{
    width: 100%;
}


.logbtn{
    display: block;
    width: 100%;
    border:none;
    background: linear-gradient(120deg, #3498db, #8e44ad #3498db);
}



.bottom-text{
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
}









