 body, html, div#root {
    background-image: linear-gradient(120deg, #3498db, #8e44ad);
    color:black;
}

html{
    height: 100%;
    background-repeat: cover;
}

.footer{
    bottom: 0;
}

.headerComp{
    top: 0;
    position: fixed;
    z-index: 1000;
    max-width: 1000px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, .5);
}